<hlm-dialog>
  <ng-content></ng-content>

  <hlm-dialog-content *hlmDialogPortal="let ctx" class="sm:max-w-sm md:w-md">
    <form [formGroup]="updatePasswordForm" (ngSubmit)="submitForm()">
      <hlm-dialog-header>
        <h3 hlmDialogTitle>Zmień hasło użytkownika</h3>
        <p hlmDialogDescription>Wprowadź nowe hasła dla użytkownika</p>
      </hlm-dialog-header>
      <hlm-field-group>
        <hlm-field>
          <label hlmFieldLabel for="password">Hasło</label>
          <input hlmInput id="password" formControlName="password" type="password" />
          <error-label
            [isDisabled]="
              updatePasswordForm.controls.password.invalid &&
              updatePasswordForm.controls.password.touched
            "
            [message]="
              updatePasswordForm.controls.password.errors?.['minlength']
                ? 'Hasło musi posiadać minimum 5 znaków!'
                : 'Hasło jest wymagane!'
            "
          />
        </hlm-field>
        <hlm-field>
          <label hlmFieldLabel for="confirmPassword">Powtórz hasło</label>
          <input hlmInput id="confirmPassword" formControlName="confirmPassword" type="password" />
          <error-label
            [isDisabled]="
              updatePasswordForm.controls.confirmPassword.invalid &&
              updatePasswordForm.controls.confirmPassword.touched
            "
            [message]="
              updatePasswordForm.controls.confirmPassword.errors?.['passwordsMismatch']
                ? 'Hasła nie są identyczne!'
                : 'Potwierdzenie hasła jest wymagane!'
            "
          />
        </hlm-field>
      </hlm-field-group>
      <hlm-dialog-footer>
        <button hlmBtn variant="outline" hlmDialogClose>Anuluj</button>
        <submit-button
          buttonText="Zapisz zmiany"
          [isSubmitting]="isSubmitting()"
          [isDisabled]="
            (updatePasswordForm.invalid && updatePasswordForm.touched) || isSubmitting()
          "
          variant="success"
        />
      </hlm-dialog-footer>
    </form>
  </hlm-dialog-content>
</hlm-dialog>
