<div class="m-2 lg:m-3 grid grid-cols-1 lg:grid-cols-2 gap-2">
  <div class="p-2.5 bg-white rounded-md shadow-md">
    <h2 class="text-primary text-2xl font-bold">
      Informacje o akwarium {{ aquarium.value()?.name }}
    </h2>
    <div class="flex flex-col gap-1">
      <labeled-field label="Nazwa" [value]="aquarium.value()?.name" />
      <labeled-field label="Pojemność" [value]="aquarium.value()?.volume" unit="L" />
      <labeled-field
        label="Data utworzenia"
        [value]="aquarium.value()?.creationDate | date: 'dd.MM.yyyy'"
        unit="r"
      />
    </div>
  </div>

  <div class="p-2.5 bg-white rounded-md shadow-md">
    <h2 class="text-primary text-2xl font-bold">Podsumowanie danych o akwarium</h2>
    <div class="flex flex-col gap-1">
      <labeled-field
        label="Ostatnia podmiana"
        [value]="aquarium.value()?.lastWaterChange | date: 'dd.MM.yyyy'"
      />
      <labeled-field
        label="Ostatnie sprawdzenie parametrów"
        [value]="aquarium.value()?.lastParametersCheck | date: 'dd.MM.yyyy'"
      />
      <labeled-field label="Ilość zdjęć" [value]="aquarium.value()?.photosCount" />
    </div>
  </div>

  @if (aquarium.value()?.lastPhotoId) {
    <div class="p-2.5 bg-white rounded-md shadow-md lg:col-span-2">
      <h2 class="text-primary text-2xl font-bold">Ostatnie zdjęcie</h2>
      <div
        class="relative w-full aspect-video max-h-125 bg-gray-50 flex items-center justify-center rounded-lg shadow mt-4 mb-2 overflow-hidden"
      >
        @if (imagePreview() === null) {
          <hlm-spinner class="text-3xl text-primary absolute z-10" />
        } @else if (imagePreview() === '') {
          <span class="text-red-500 font-medium italic">Problem z pobraniem zdjęcia</span>
        } @else {
          @if (isImageLoading()) {
            <hlm-spinner class="text-3xl text-primary absolute z-10" />
          }
          <img
            [src]="imagePreview()"
            [alt]="`Zdjecie akwarium ${aquarium.value()?.name}`"
            (load)="isImageLoading.set(false)"
            [class.opacity-0]="isImageLoading()"
            class="absolute inset-0 w-full h-full object-contain transition-opacity duration-300"
          />
        }
      </div>
    </div>
  }
</div>
