<hlm-dialog>
  <ng-content></ng-content>

  <hlm-dialog-content *hlmDialogPortal="let ctx" class="sm:max-w-sm md:w-md">
    @if (isLoadingData()) {
      <hlm-dialog-header>
        <h3 hlmDialogTitle>{{ aquariumId() ? 'Edytuj' : 'Utwórz' }} akwarium</h3>
        <p hlmDialogDescription>{{ aquariumId() ? 'Edytuj' : 'Wprowadź' }} dane akwarium</p>
      </hlm-dialog-header>
      <div class="flex items-center justify-center h-50">
        <hlm-spinner class="text-3xl text-primary" />
      </div>
      <hlm-dialog-footer>
        <button hlmBtn variant="outline" hlmDialogClose>Anuluj</button>
        <button hlmBtn disabled class="self-center mt-auto" variant="success">
          {{ aquariumId() ? 'Zapisz zmiany' : 'Utwórz' }}
          @if (isSubmitting()) {
            <hlm-spinner class="text-base md:text-lg"></hlm-spinner>
          }
        </button>
      </hlm-dialog-footer>
    } @else {
      <form [formGroup]="changeWaterForm" (ngSubmit)="submitForm()">
        <hlm-dialog-header>
          <h3 hlmDialogTitle>{{ aquariumId() ? 'Edytuj' : 'Utwórz' }} akwarium</h3>
          <p hlmDialogDescription>{{ aquariumId() ? 'Edytuj' : 'Wprowadź' }} dane akwarium</p>
        </hlm-dialog-header>
        <hlm-field-group>
          <hlm-field>
            <label hlmFieldLabel for="volume">Podmieniona ilość wody (litry)</label>
            <input hlmInput id="amount" type="number" formControlName="amount" />
            <error-label
              [isDisabled]="
                changeWaterForm.controls.amount.invalid && changeWaterForm.controls.amount.touched
              "
              [message]="
                changeWaterForm.controls.amount.errors?.['min']
                  ? 'Ilość podmienionej wody musi być dodatnia!'
                  : changeWaterForm.controls.amount.errors?.['max']
                    ? 'Ilość podmienionej wody nie może przekraczać 10 000 litrów!'
                    : 'Ilość podmienionej wody jest wymagana!'
              "
            ></error-label>
          </hlm-field>
          <hlm-field>
            <label hlmFieldLabel for="changeDate">Data podmiany wody</label>
            <input hlmInput id="changeDate" formControlName="changeDate" type="date" />
            <error-label
              [isDisabled]="
                changeWaterForm.controls.changeDate.invalid &&
                changeWaterForm.controls.changeDate.touched
              "
              message="Data podmiany wody jest wymagana!"
            ></error-label>
          </hlm-field>
        </hlm-field-group>
        <hlm-dialog-footer>
          <button hlmBtn variant="outline" hlmDialogClose>Anuluj</button>
          <submit-button
            [buttonText]="aquariumId() ? 'Zapisz zmiany' : 'Utwórz'"
            [isSubmitting]="isSubmitting()"
            [isDisabled]="(changeWaterForm.invalid && changeWaterForm.touched) || isSubmitting()"
            variant="success"
          />
        </hlm-dialog-footer>
      </form>
    }
  </hlm-dialog-content>
</hlm-dialog>
