<div class="">
  <nav class="w-full bg-white flex flex-wrap px-2 py-2 gap-2 border-b">
    <button
      hlmBtn
      variant="outline"
      routerLinkActive="bg-primary/10"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="./"
    >
      Szczegóły
    </button>
    <button hlmBtn variant="outline" routerLinkActive="bg-primary/10" routerLink="photos">
      Zdjęcia
    </button>
    <button hlmBtn variant="outline" routerLinkActive="bg-primary/10" routerLink="water-changes">
      Podmiany Wody
    </button>
    <button hlmBtn variant="outline" routerLinkActive="bg-primary/10" routerLink="parameter-checks">
      Pomiary parametrów
    </button>
  </nav>
  <div class="mt-2">
    <router-outlet></router-outlet>
  </div>
</div>
